* {
  margin: 0em;
  padding: 0em;
}

body {
  font-size: 18px;
  font-family: sans-serif;
}

.page_wrapper {
  background-color: #fcfafa96;
  padding: 1em;
}

header {
  height: 5em;
  font-size: 1.5em;
  color: #57676b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px double #6E8387;
}

.overview {
  display: flex;
  column-gap: 5em;
}

.report_tables {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5em;
}

table {
  border-collapse: collapse;
  font-size: 1.2em;
  width: 50em;
  color: #455154;
}

table>caption {
  text-align: left;
  padding: 1em;
}

table th,
td {
  padding: 0.5em;
}

table th {
  text-align: left;
  background-color: #A4B8C4;
  color: #3c4749;
}

table tbody tr:nth-child(odd) {
  background-color: #C8D3D5;
}

table tbody tr:nth-child(even) {
  background-color: #FCFAFA;
}